/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
/t3/empty/obj
/t3/suite/obj
/test/t3chnique/out/arith.t3.trc
/test/t3chnique/out/basic.t3.err
/test/t3chnique/out/basic.t3.trc
/t3/empty/Scripts/
/t3/empty/empty.tdbconfig
/t3/suite/GameInfo.txt
/t3/suite/Scripts/
/t3/suite/suite.tdbconfig
*.trc
*.err
/.nrepl-port
/.lein-repl-history
*.log
