* { box-sizing: border-box; font-family: sans-serif; }
h1 { font-size: 20px; }
div.stack { width: 10%; float: left; }
div.register { width: 90%; float: left; }

div.code, div.constant, div.object{
  width: 30%; 
  float: left; 
  color: white; 
  font-size: 12px; 
}

th { font-weight: normal; text-align: right; font-family: "Lucida Console", Monaco, monospace; }
.code th { color: #EE8190; }
.constant th { color: #D0ED80; }
.code td, .constant td { font-family: "Lucida Console", Monaco, monospace; }

body { background-color: #222; color: white; padding: 2px;}
div { padding: 2px; }