* { box-sizing: border-box; font-family: sans-serif; }
h1 { font-size: 20px; }
div.stack { width: 76px; float: left; }
div.register { width: 90%; float: left; }

div.code, div.constant{
  float: left; 
  color: white; 
  font-size: 12px; 
}

div.object {
  width: 152px;
  float: left; 
  color: white; 
  font-size: 12px; 
}

div.inspector {
  float: left;
  width: 152px;
}

th { font-weight: normal; text-align: right; font-family: "Lucida Console", Monaco, monospace; }
.code th { color: #EE8190; }
.constant th { color: #D0ED80; }
.code td, .constant td { font-family: "Lucida Console", Monaco, monospace; }

body { background-color: #222; color: white; padding: 2px;}
div { padding: 2px; }

span.action { padding: 4px; }

#action-step a:hover { text-decoration: none; background-color: #333; }
a span.prompt { color: #808080; padding: 4px; }
a span.mnemonic { color: #EE5A6E; padding: 4px; }
a span.op-arg { color: #D0ED80; padding: 4px; }
a.additional { color: #808080; padding: 4px; }

a.exc { color: red; border: 1px solid red; padding: 2px; }
a.exc:hover { text-decoration: none; background-color: #333; }

div#information h1 { font-size: 13px; font-weight: bold; display: inline; padding: 2px; margin: 0px; }
div.meta { background-color: #333; margin: 2px; border-radius: 3px;}
div.meta span.meta { color: #808080; padding: 2px; }
div.fnsd { background-color: #333; margin: 2px; border-radius: 3px;}
div.fnsd span.builtin { color: #808080; padding: 2px; }
div.mcld { background-color: #333; margin: 2px; border-radius: 3px;}
div.mcld span.metaclass { color: #808080; padding: 2px; }
div.symd { background-color: #333; margin: 2px; border-radius: 3px;}
div.symd span.symbol { color: #808080; padding: 2px; }

/*

var dgrey = "#202020";
var lgrey = "#808080";
var red1 = "#DE2740";
var red2 = "#A4404E";
var red3 = "#8D0C1E";
var red4 = "#EE5A6E";
var red5 = "#EE8190";
var teal1 = "#1A957D";
var teal2 = "#2B6E61";
var teal3 = "#085E4E";
var teal4 = "#4CC9B1";
var teal5 = "#6DC9B7";
var leaf1 = "#ACDC26";
var leaf2 = "#88A33F";
var leaf3 = "#6A8C0C";
var leaf4 = "#C6ED5A";
var leaf5 = "#D0ED80";

 */

svg rect.vm-nil { fill: #de2740; }
svg rect.vm-true { fill: #acdc26; }
svg rect.vm-stack { fill: #acdc26; }
svg rect.vm-codeptr { fill: #a4404e; }
svg rect.vm-obj { fill: #085e4e; }
svg rect.vm-prop { fill: #ee5a6e; }
svg rect.vm-int { fill: #1a957d; }
svg rect.vm-sstring { fill: #acdc26; }
svg rect.vm-dstring { fill: #6a8c0c; }
svg rect.vm-list { fill: #88a33f; }
svg rect.vm-codeofs { fill: #ee8190; }
svg rect.vm-funcptr { fill: #ee5a6e; }
svg rect.vm-empty { fill: #de2740; }
svg rect.vm-native-code { fill: #ee5a6e; }
svg rect.vm-enum { fill: #1a957d; }
svg rect.vm-bifptr { fill: #ee5a6e; }
svg rect.vm-objx { fill: #085e4e; }
svg text { fill: white; font-size: 13px; text-anchor: middle; font-family: sans-serif; font-weight: bold; }
svg rect.metaclass { fill: #6dc9b7; }
svg text.metaclass { fill: black; } 
